table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 5ex;
}

th {
  background-color: #87D9F5;
  border: 1px solid black; 
}

th, td {
  padding: 0.3ex;
  padding-left: 0.5ex;
  padding-right: 0.5ex;
  text-align: center;
  white-space: nowrap;
}


td:nth-child(2) {
  border-left: 1px solid black; 
}

td:nth-last-child(1) {
  border-left: 1px solid black;  
}

td:nth-last-child(2) {
  border-left: 1px solid black;  
}

td:nth-last-child(3) {
  border-left: 1px solid black;  
}

tr:nth-last-child(2) {
  border-top: 1px solid black;
}

tr:nth-child(even) {
  background-color: #B0EAFA;
}

tr:nth-child(even) td:last-child {
  background-color: #87D9F5;
}

tr:nth-child(odd) td:last-child {
  background-color: #B0EAFA;
}

tr:nth-child(even) td:nth-last-child(2) {
  background-color: #87D9F5;
}

tr:nth-child(odd) td:nth-last-child(2) {
  background-color: #B0EAFA;
}

tr:nth-child(even) td:nth-last-child(3) {
  background-color: #87D9F5;
}

tr:nth-child(odd) td:nth-last-child(3) {
  background-color: #B0EAFA;
}

td:first-child {
  text-align: left;
}